$white_color:#fff;
$white_color2:#ebe9e9;
$white_color3:#f1eded;
$white_color4:#d7d4d4;
$white_color5:#eee;
$color_white:#efecec;
$white_color6:#ddd8d8;
$dark_color:#050828;
$dark_color2:#0b1124;
$dark_color3:#040722;
$dark_color4:#0b0e28;
$dark_color5:#141a31;
$gray_color:#babcc1;
$rgba_color:rgba(255, 255, 255, 0.03);
$gradient:linear-gradient(124deg, #f95a85, #f70361, #f95420);
$box_shadow:0 0 0 7px rgba(249, 84, 32, 0);
$box_shadow2:0 0 0 0 rgba(249, 84, 32, 0.6);
$animation:pulse 0.7s infinite cubic-bezier(0.66, 0, 0, 1);
$trasition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);